h1 {
  color: black;
  font-family: 'Baloo', cursive;
  font-size: 75px;
  text-align: center;

}

img {
  width: 50%;
  height: 50%;
}

body {
  background-color: #00b3b4
}

.form-group
  {
    width: 500px;
    position: relative;
    padding-top: 10px;
  }

#form-group {
  width: 500px;
  position: relative;
  padding-top: 50px;
}

.p1 {
  display: none;
}

.p2 {
  display: none;
}

.p3 {
  display: none;
}
